
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #8ac5a5, #f17e5d, #c5d9d7);
    background-size: 400% 400%;
    animation: gradientAnimation 10s infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  nav ul li {
    display: inline-block;
    list-style: none;
    padding: 30px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    position: relative;
    font-weight: bold;
    margin: 35px;
    font-family: "Times New Roman", Times, serif;
    margin: 5% 20px;
  }
  
  nav ul li a::after {
    content: "";
    width: 0%;
    height: 5px;
    background: orange;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
  }
  nav ul li a:hover::after {
    width: 105%;
  }

.contact-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
}

h1 {
    color: #333;
}

.contact-info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 18px;
    color: #555;
}

.info-item i {
    margin-right: 10px;
}

/* Animation simple au survol */
.info-item:hover {
    color: #ff9900;
    transition: color 0.3s ease;
}
