* {
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(to bottom, #001f3f, rgb(255, 192, 235));
  height: 100vh;
}
nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav ul li {
  display: inline-block;
  list-style: none;
  padding: 30px;
  
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  position: relative;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  margin: 5% 20px;
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 5px;
  background: orange;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
  
}
nav ul li a:hover::after {
  width: 105%;
}

.header-text {
  margin-top: 15%;
  font-style: italic;
  margin-left: 50px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.header-text h1 {
  font-size: 45px;
  color: wheat;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0px solid bisque; /* Simule le curseur de saisie */
  position: absolute;
  animation: typing 4s;
}
.header-text p {
  font-size: 45px;
  color: wheat;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0px solid bisque;
  animation: typing 10s;
  position: absolute;
  margin-top: 120px;
}
.header-text p {
  line-height: 30px;
  color: wheat;
  font-size: 30px;
}
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.header-text h1 span {
  color: orange;
}
.header-text p span {
  color: orange;
  font-size: 2rem;
  font-weight: 100;
}
.image {
  width: 40%;
  height: 50%;
  float: right;
  margin-left: 20px;
}
.image img {
  max-width: 80%;
  border-radius: 70%;
  margin-left: 10px;
  margin-top: 10%;
}
.pub p {
  color: wheat;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.pub span {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: xx-large;
  
}