* {
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(to bottom, #001f3f, rgb(255, 192, 235));
  /* background-color: rgba(0, 0, 255, 0.48); */
  height: 470vh;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul li {
  display: inline-block;
  list-style: none;
  padding: 30px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  position: relative;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  margin: 5% 20px;
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 5px;
  background: orange;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 105%;
}
span {
  color: bisque;
  text-align: center;
  font-family: 'Helvetica', sans-serif;
}
.tea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 11b0vh; /* Réglez la hauteur à votre convenance */
  position: relative;
}
.tea h2 {
  font-size: 40px; 
  color: blanchedalmond;
  
}
.tea img {
  height: 400px;
  width: 600px;
  border-radius: 30%;
}
.tea p {
  color: aliceblue;
  background: rgba(255, 255, 255, 0.158);
  text-align: center;
  width: 80%;
  position: relative;
  transition: transform 0.5s ease;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  font-size: 19px; 
  font-family: 'Helvetica', sans-serif; 
  font-weight: bold; 
  line-height: 1.5; 
  padding: 15px; 
  
}
.tea:hover p {
  opacity: 1;
  transform: translateY(0);
}
.castle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 90vh; /* Réglez la hauteur à votre convenance */
  position: relative;
  margin: 30px;
}
.castle h2 {
  font-size: 40px; 
  color: blanchedalmond;
  margin-bottom: 20px; 
}
.castle img {
  height: 500px;
  width: 700px;
  border-radius: 30%;
}
.castle p {
  color: aliceblue;
  background: rgba(255, 255, 255, 0.168);
  text-align: center;
  width: 80%;
  position: relative;
  transition: transform 0.5s ease;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  font-size: 19px; 
  font-family: 'Helvetica', sans-serif; 
  font-weight: bold; 
  line-height: 1.5; 
  padding: 15px; 
  
}
.castle:hover p {
  opacity: 1;
  transform: translateY(0);
}

.irc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100vh; /* Réglez la hauteur à votre convenance */
  position: relative;
  
}
.irc h2 {
  font-size: 40px; 
  color: blanchedalmond;
  margin-bottom: 20px; 
}

.irc img {
  height: 400px;
  width: 700px;
  border-radius: 30%;
  
}
.irc p {
  color: aliceblue;
  background: rgba(255, 255, 255, 0.095);
  text-align: center;
  width: 80%;
  position: relative;
  transition: transform 0.5s ease;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  font-size: 19px; 
  font-family: 'Helvetica', sans-serif; 
  font-weight: bold; 
  line-height: 1.5; 
  padding: 15px; 
  
}
.irc:hover p {
  opacity: 1;
  transform: translateY(0);
}

.api {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 120vh; /* Réglez la hauteur à votre convenance */
  position: relative;
}
.api h2 {
  font-size: 40px; 
  color: blanchedalmond;
  margin-bottom: 20px; 
}
.api img {
  height: 300px;
  width: 600px;
  border-radius: 30%;
}
.api p {
  color: aliceblue;
  background: rgba(255, 255, 255, 0.038);
  text-align: center;
  width: 80%;
  position: relative;
  transition: transform 0.5s ease;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  font-size: 19px; 
  font-family: 'Helvetica', sans-serif; 
  font-weight: bold; 
  line-height: 1.5; 
  padding: 15px; 
  
}
.api:hover p {
  opacity: 1;
  transform: translateY(0);
}
